<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DbSSContext" connectionString="metadata=res://*/Model.DbServiceStationModel.csdl|res://*/Model.DbServiceStationModel.ssdl|res://*/Model.DbServiceStationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AOQ9O3U;initial catalog=ServiceStation;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <ServiceStation.Properties.Settings>
      <setting name="AgreementConditions" serializeAs="String">
        <value>Автомобиль выдаётся заказчику после оплаты стоимости ремонта, оплата производится в бухгалтерии СТО. После окончания ремонта автомобиль должен быть вывезен с территории ремонта в течении 3-х дней. При простое автомобиля на СТО более 3-х дней ввиду отсутствия платы, на время ожидания запчастей или по другим причинам, не зависящим от СТО, с заказчика взимается плата на использование территории из расчёта один день: в цехе 600 р., во дворе - 140 р. Выдача автомобилей производится с 9 до 12 и 13 до 17 часов.</value>
      </setting>
      <setting name="TermsPurchaseMaterials" serializeAs="String">
        <value>При покупке исполнителем для автомобиля заказчика запчастей и материалов у третьих лиц делается наценка 20% на их стоимость.</value>
      </setting>
      <setting name="Guarantee" serializeAs="String">
        <value>слесарные – 2000км пробега или 2 месяца, рихтовано-покрасочные – 4 месяца. Гарантийные обязательства на работы выполняются фирмой только при предъявлении акта приемки автомобиля и техпаспорта(доверенности).</value>
      </setting>
    </ServiceStation.Properties.Settings>
  </userSettings>
</configuration>